body {
    font-size: 25px;
  }
  
  .section {
    background-color: lightpink;
    margin: 20px 20px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
  }
  
  .btn {
    padding: 5px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
  }  